* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    font-family: "Montserrat";;
}

body{
    background-color:#E5E5E5;
}

header{
    position: relative;
}

nav{
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    Height: 100px;
    width: 100%;
    padding: 40px 114px;
}

#IceCream{
    width: 110px;
    height: 110px;
}

.container-search{
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    width: 350px;
    height: 30px;
    margin-right: 200px;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
}

#SearchBar{
    color:rgba(96, 96, 96, 0.6);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 250px 0px 80px 0px;
}

.card h2{
    padding-bottom: 10px;
}

.card h3{
    padding: 8px;
}

.card p{
    padding-bottom: 25px;
}

.section-1, .section-2{
    display: flex;
    flex-direction: row;
}

#BrigadeiroImg, #CeuAzulImg, #KibonbonImg, #MinionsImg{
    width: 160px;
    height: 160px;
    padding: 20px;
}

.box-tablito, .box-column-2, .box-column-4, .box-chicabon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-tablito, .box-brigadeiro, .box-ceuazul, .box-chicabon, .box-kibonbon, .box-minions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    margin: 20px;
}

#TablitoImg, #ChicaBonImg{
    width: 230px;
    height: 230px;
    padding: 20px;
}

.box-descricaotablito, .box-descricaochicabon{
    width: 270px;
    padding: 7px 20px 7px 20px; 
}

.box-precotablito, .box-precochicabon{
    background-color: rgba(249, 199, 191, 0.5);
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    margin-bottom: 20px;
}

footer{
    background-color: rgba(242, 242, 242);  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    Height: 120px;
    padding: 48px 114px;
    position: relative;
}

.container-contact{
    display: flex;
    width: 140px;
    justify-content: space-between;
    align-items: center;
}

#IceCream2{
    Height: 70px;
    Width: 70px;
}

footer h3{
    font-size: 15px;
    font-style: normal;
}

@media (max-width: 1155px){

    nav{
        padding: 0%;
        align-items: center;
        justify-content: center;
        gap: 50%;
    }

    #IceCream{
        width: 70px;
        height: 70px;
    }

    .container-search{
        height: 40px;
        width: 40px;
        padding: 0%;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    #SearchBar{
        display: none;
    }

    .card{
        padding-top: 180px;
        flex-direction: column;
    }

    .box-tablito .box-column-2{
        flex-direction: row;
    }

    .section-2{
        flex-direction: row-reverse;
    }

    #BrigadeiroImg, #CeuAzulImg, #KibonbonImg, #MinionsImg{
        width: 50%;
        min-width: 60px;
        height: auto;
        max-width: 70px;
    }
    
    #TablitoImg, #ChicaBonImg{
        width: 50%;
        min-width: 90px;
        height: auto;
        max-width: 70px;
    }
    
    .box-descricaotablito, .box-descricaochicabon{
        width: 90%;
        max-width: 200px;
        
    }

    .box-box-tablito, .box-box-chicabon{
        max-width: 200px;
    }
    
    .box-precotablito, .box-precochicabon{
        border-radius: 8px;
        width: 80px;
        height: 30px;
        margin-bottom: 8px;
    }

    .card h2{
        font-size: medium;
    }

    .card h3{
        font-size: small;
    }

    .card p{
        font-size: x-small;
        padding-bottom: 15px;
    }

    footer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0px;
    }

    .container-contact{
        display: flex;
        width: 140px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    #IceCream2{
        display: none;
    }

}
